﻿    <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menú</li>
            <li class="@Html.IsSelected("Index", "Home")">
                <a href="@Url.Action("Index", "Citas")"><i class="fa fa-link"></i> <span>Citas</span></a>
            </li>
            <li class="@Html.IsSelected("AnotherLink", "Home")">
                <a href="@Url.Action("Index", "Donaciones")"><i class="fa fa-link"></i> <span>Donaciones</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Mantenimientos") treeview">
                <a href="@Url.Action("Mantenimientos", "Mantenimientos")">
                    <i class="fa fa-dashboard"></i> <span>Mantenimientos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Cliente")">Clientes</a></li>
                    <li><a href="@Url.Action("Index", "Usuario")">Usuarios</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

