﻿@model Consola.Models.Cliente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Editar Cliente</h3>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.IdCliente)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdTipoIdentificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.IdTipoIdentificacion, new SelectList(ViewBag.ListaTiposIdentificacion, "IdTipoIdentificacion", "TipoIdentificacion"), "--Tipo Identificacion--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Apellido1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Apellido2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger", Type = "Email" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Provincia, new SelectList(ViewBag.ListaProvincias, 
                                       "Cod", "Nombre"), "--Provincia--", new { @class = "form-control", style = 
                                       "font-size: 1.3em; font-weight:700;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Canton, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Canton, new SelectList(ViewBag.ListaCantones, "Canton", "Nombre"), "--Canton--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Distrito, new SelectList(ViewBag.ListaDistritos, "Distrito", "Nombre"), "--Distrito--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.ListaEstados, "Value", "Text"), "--Estado--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-start">
                            <button class="btn btn-danger" data-dismiss="modal">Regresar</button>
                            <input class="btn btn-primary" type="submit" value="Guardar" />
                            <input class="btn btn-primary" type="button" value="Buscar" id="buscar" name="buscar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#buscar").click(function () {
                    $("#Nombre").empty();
                    $("#Apellido1").empty();
                    $("#Apellido2").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ConsultaPersona")',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({ identificacion: $("#Identificacion").val() }),
                        success: function (resultado) {
                            $("#Nombre").val(resultado[0].Nombre);
                            $("#Apellido1").val(resultado[0].ApellidoP);
                            $("#Apellido2").val(resultado[0].ApellidoM);
                        },
                        error: function (ex) {
                            alert('Fallo al consultar los datos : ' + ex);
                        }
                    });
                })

            });
    </script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#Provincia").change(function () {
                    $("#Canton").empty();
                    $("#Distrito").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CargaCantones")',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({ provincia: $("#Provincia").val() }),
                        success: function (cantones) {
                            $("#Canton").append("<option value=''>--Seleccione--</option>");
                            $.each(cantones, function (i, canton) {
                                $("#Canton").append('<option value="' + canton.Canton + '">' + canton.Nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Fallo al cargar los cantones : ' + ex);
                        }
                    });
                })
                $("#Canton").change(function () {
                    $("#Distrito").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CargaDistritos")',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify({ provincia: $("#Provincia").val(), canton: $("#Canton").val() }),
                        success: function (distritos) {
                            $("#Distrito").append("<option value=''>--Seleccione--</option>");
                            $.each(distritos, function (i, distrito) {
                                $("#Distrito").append('<option value="' + distrito.Distrito + '">' + distrito.Nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Fallo al cargar los distritos : ' + ex);
                        }
                    });
                })

            });
    </script>
}
