﻿@model Consola.Models.Donaciones

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-13">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Agregar un nuevo Donacion</h3>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.Hidden("IdDonacion", 0)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NombreDonador, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.NombreDonador, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NombreDonador, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CantidadDonada, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.CantidadDonada, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CantidadDonada, "", new { @class = "text-danger" })
                                    </div>
                                </div>                             
                                </div>                              
                                </div>                               
                        <div class="modal-footer justify-content-start">
                            <input class="btn btn-primary" type="submit" value="Guardar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
