﻿    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
        </ol>
    </section>
    
        <<div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>577
                        </h3>
                        <p>Tipo de Cambio</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
</div>
<!-- /.content-wrapper -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
              $("#tc").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ObtenerTipoCambio")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({ indicador: "317", fechaini: "1/4/2020", fechafin: "1/4/2020"}),
                    success: function (resultado) {
                        $("#tipocambio").val(resultado[0].tipocambio);
                    },
                    error: function (ex) {
                        alert('Fallo al consultar los datos : ' + ex);
                    }
                });
           

        });
    </script>
    }