﻿@model Consola.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Editar Usuario</h3>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.IdUsuario)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @if (Session["ROLES"].Equals(1))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.ListaEstado, "Value", "Text"), new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })

                                        </div>
                                    </div>
                                }
                                else
                                {

                                    @Html.HiddenFor(model => model.Estado)
                                }

                                @if (Session["ROLES"].Equals(1))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.Rol, new SelectList(ViewBag.ListaRol, "Value", "Text"), "--Rol--", new { @class = "form-control", style = "font-size: 1.3em; font-weight:700;" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.Rol)
                                }


                            </div>
                        </div>
                        <div class="modal-footer justify-content-start">
                            <button class="btn btn-danger" data-dismiss="modal">Regresar</button>
                            <input class="btn btn-primary" type="submit" value="Guardar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>


