﻿@model IEnumerable<Consola.Models.Usuario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Mantenimiento de Nuevos Usuarios</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        
                        @if (Session["ROLES"].Equals(1))
                        {
                            <div class="modal-footer">
                                @Html.ActionLink("Nuevo Usuario", "Crear", "Usuario", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-left" })
                            </div>
                        }

                        @Html.ValidationMessage("Detalle")
                        <table id="Datos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Rol)

                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @if (item.Estado == true)
                                            {
                                                @Html.Label("Activo")

                                            }
                                            else
                                            {
                                                @Html.Label("Inactivo")
                                            }
                                        </td>
                                        <td>
                                            @if (item.Rol == 1)
                                            {
                                                @Html.Label("Administrador")

                                            }
                                            else
                                            {
                                                @Html.Label("Usuario")
                                            }
                                        </td>
                                        <td>

                                            @Html.ActionLink("Editar", "Editar", new { id = item.IdUsuario }, new { @class = "btn btn-success btn-sm" })|
                                            @if (Session["ROLES"].Equals(1))
                                            {
                                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdUsuario }, new { @class = "btn btn-danger btn-sm", onclick = "return Confirmar(this);" })
                                            }


                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><div class="panel-footer">Cantidad = @Model.Count()</div></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Datos').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>

}

